<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Birkeland Travel Company</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
    <h1>Birkeland Travel Company</h1>
    <p>Adventures for All Seasons</p>

    <h2>Bergen, Norway</h2>
  
    <div class="main-nav">
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Destinations</a></li>
          <ul>
            <li><a href="bergen.html">Bergen</a></li>
            <li><a href="sandiego.html">San Diego</a></li>
            <li><a href="tofte.html">Tofte</a></li>
            <li><a href="mykonos.html">Mykonos</a></li>
          </ul>
          <li><a href="#!">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <div id="app" v-cloak>
    <div class="places-container">
      <h3>{{places[0].placeName}}</h3>
      <p>{{places[0].tripDescription}}</p>
      <ul>
        <li>{{places[0].tripDuration}}</li>
        <li>{{places[0].tripMonth}}</li>
        <li>{{places[0].tripCost}}</li>
        <li>{{places[0].lodgingAndFoodIncl}}</li>
        <li>{{places[0].accommodationType}}</li>
        <li>{{places[0].airfareIncl}}</li>
        <li>{{places[0].activityLevel}}</li>
        <li>{{places[0].weather}}</li>
        <li>{{places[0].avgTemp}}</li>
      </ul>
    </div>

    <div class="packing-form">
      <fieldset>
        <legend>Wondering How to Pack for this Adventure?</legend>
          <div class="checkbox-form-group">
            <p>What month(s) will this trip be running&#63;</p>
            <label>September and October<input type="radio" value="September and October" v-model="selectedMonth"></label>
            <label>December and January<input type="radio" value="December and January" v-model="selectedMonth"></label>
            <label>March and April<input type="radio" value="March and April" v-model="selectedMonth"></label>
            <label>August and September<input type="radio" value="August and September" v-model="selectedMonth"></label>
          </div>

          <div class="checkbox-form-group">
            <p>What is the average temperature for this location when you will be there&#63;</p>
            <label>-15 to 15 &deg;F<input type="radio" value="-15 to 15" v-model="weather"></label>
            <label>45 to 55 &deg;F<input type="radio" value="45 to 55" v-model="weather"></label>
            <label>65 to 75 &deg;F<input type="radio" value="65 to 75" v-model="weather"></label>
            <label>70 to 80 &deg;F<input type="radio" value="70 to 80" v-model="weather"></label>
          </div>

          <div class="checkbox-form-group">
            <p>Will you be camping on this trip&#63;</p>
            <label>Yes<input type="radio" value="Yes" v-model="camping"></label>
            <label>No<input type="radio" value="No" v-model="camping"></label>
          </div>

          <div class="checkbox-form-group">
            <p>What is the activity level for this trip&#63;</p>
            <label>Easy<input type="radio" value="Easy" v-model="tripLevel"></label>
            <label>Moderate<input type="radio" value="Moderate" v-model="tripLevel"></label>
            <label>Difficult<input type="radio" value="Difficult" v-model="tripLevel"></label>
          </div>

          <div class="checkbox-form-group">
            <p>Will you be leaving the United States for this trip&#63;</p>
            <label>Yes<input type="radio" value="Yes" v-model="leavingUSA"></label>
            <label>No<input type="radio" value="No" v-model="leavingUSA"></label>
          </div>
      </fieldset>
    </div>
    <div class="packing-form-output">
      <h3>Here are my packing recommendations to get you started:</h3>

      <p><strong>What month(s) will this trip be running&#63;</strong> {{selectedMonth}}</p>

      <p><strong>What is the average temperature for this location when you will be there&#63;</strong> {{weather}}</p>

      <p><strong>Will you be camping on this trip&#63;</strong> {{camping}}</p>

      <p><strong>What is the activity level for this trip&#63;</strong> {{tripLevel}}</p>
      
      <p><strong>Will you be leaving the United States for this trip&#63;</strong> {{leavingUSA}}</p>
    </div>
  </div>

  <footer>
    <p>Social Media</p>
    <p>Copyright</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
